<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
    <h2>Acesso ao Tema</h2>

    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
    
    <div id="id01" class="modal">
      
      <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="img/portfolio/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
    
        <div class="container">
          <label for="uname"><b>Tema</b></label>
          <input type="text" placeholder="Escolha o Tema" name="uname" required>
    
          <label for="psw"><b>Senha</b></label>
          <input type="password" placeholder="Insira a senha" name="psw" required>
            
          <button type="submit">Logar</button>
          <input type="checkbox" checked="checked" name="remember"> Salvar senha
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
        </div>
        </div>
      </form>
    </div>
    
    <script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </body>