<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Passa-Palavra</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- CSS para criar circulos -->
    <link rel="stylesheet" href="../css/circles.css">

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../css/freelancer.css" rel="stylesheet">

    <!-- Javascript interno -->
    <script src="../js/script.js"></script>
    <script src="../js/visual.js"></script>
    <script src="../js/menu_temas.js"></script>
    <script src="../json/questoes.js"></script>

  </head>

  <body onload="LerPergunta(LETTER_COUNT)">


    <!-- Header -->
    <header class="mt-3 bg-primary text-center">
      <div class="container-fluid col-lg-6 col-md-10 col-sm-12">
        <h1 class="mb-5" id="question">Pergunta</h1>
        <div class='circle-container' id="circle-container"></div>
        <form class="mb-3 mt-5"id="form-resposta" action="JavaScript:ConfereResposta(LETTER_COUNT)" method="post">
          <input class="rounded col-lg-8 col-md-8 col-sm-6" type="text" name="Fresposta" autocomplete="off" placeholder=" Digite aqui sua resposta!">
        </form>

        <button class="btn btn-primary col-lg-4 col-md-4 col-sm-3" id="button-res" form="form-resposta">Responder</button>
        <button class="btn btn-secondary col-lg-4 col-md-4 col-sm-3" onclick="PassouAPalavra()">Passa Palavra!</button>

      </div>
    </header>



    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- JS para criar os circulos -->
    <script src="../js/circles.js"></script>

  </body>

</html>
