<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Registro</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- CSS para criar circulos -->
  <link rel="stylesheet" href="../css/circles.css">


  <!-- Custom fonts for this template -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="../css/freelancer.css" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Registro de Perguntas e Respostas</div>
      <div class="card-body">
        <form id="form-questoes">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-9 col-9">
                <label for="campo-tema">Tema</label>
                <div class="input-group mb-3" id="campo-tema-input">
                  <input type="text" id="campo-tema" class="form-control" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" onclick="confirmaTema()">Confirmar</button>
                  </div>
                </div>
              </div>
              <div class="mx-auto">
                <label for="campo-letra">Letra</label>
                <select class="btn btn-primary btn-block" id="campo-letra">
                  <option id="letra-a" value="0">A</option>
                  <option id="letra-b" value="1">B</option>
                  <option id="letra-c" value="2">C</option>
                  <option id="letra-d" value="3">D</option>
                  <option id="letra-e" value="4">E</option>
                  <option id="letra-f" value="5">F</option>
                  <option id="letra-g" value="6">G</option>
                  <option id="letra-h" value="7">H</option>
                  <option id="letra-i" value="8">I</option>
                  <option id="letra-j" value="9">J</option>
                  <option id="letra-k" value="10">K</option>
                  <option id="letra-l" value="11">L</option>
                  <option id="letra-m" value="12">M</option>
                  <option id="letra-n" value="13">N</option>
                  <option id="letra-o" value="14">O</option>
                  <option id="letra-p" value="15">P</option>
                  <option id="letra-q" value="16">Q</option>
                  <option id="letra-r" value="17">R</option>
                  <option id="letra-s" value="18">S</option>
                  <option id="letra-t" value="19">T</option>
                  <option id="letra-u" value="20">U</option>
                  <option id="letra-v" value="21">V</option>
                  <option id="letra-w" value="22">W</option>
                  <option id="letra-x" value="23">X</option>
                  <option id="letra-y" value="24">Y</option>
                  <option id="letra-z" value="25">Z</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <label for="campo-pergunta">Pergunta</label>
              <input type="text" id="campo-pergunta" class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <label for="campo-resposta">Resposta</label>
              <input type="text" id="campo-resposta" class="form-control" required>
            </div>
          </div>
        </form>
        <div class="container mb-1">
          <div class="row">
            <button class="btn btn-success col mr-2" form="form-questoes" onclick="adicionarQuestao()">Incluir Registro</button>
            <button class="btn btn-danger col ml-2" onclick="salvarTema();">Salvar</button>
          </div>
        </div>
        <div class="form-group my-3" id="campo-questoes">
            Questões:
        </div>
        <div>
          <button class="btn btn-primary btn-block" onclick="router('tela_criar_tema', null)">Jogar</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- JS para criar os circulos -->
  <script src="../js/circles.js"></script>

  <!-- Javascript interno -->
  <script src="../js/script.js"></script>
  <script src="../json/questoes.js"></script>

</body>

</html>