<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Passa-Palavra</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- CSS para criar circulos -->
    <link rel="stylesheet" href="../css/circles.css">

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../css/freelancer.css" rel="stylesheet">

    <!-- Javascript interno -->
    <script src="../js/script.js"></script>
    <script src="../json/questoes.js"></script>
    <script src="../js/menu_temas.js"></script>

  </head>

  <body onload = "criarMenuTemas()">


    <!-- Header -->
    <header class="mt-5 bg-primary text-center">
      <div class="container">
        <br>
        <h1>Escolha um tema:</h1>
        <br><br>
        <div class='menu-container' id="menu-container"></div><br>
        <button class="btn btn-primary w-25 mt-25" onclick="router('criarTemas', null)">Criar Tema</button>
      </div>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content  unicomodal" >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modalidadde</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5>Tempo</h5>
            <div class="row">
              <div class="col-sm">
                <button type="button" class="btn btn-light">
                  <img src="../img/portfolio/comtempo.png" alt="Com Tempo" width="40px" height="40px">
                  <br><p>Com tempo<br>
                  <input type="radio" name="tempo"></p>
                </button>
              </div>
              <div class="col-sm">
                <button type="button" class="btn btn-light">
                  <img src="../img/portfolio/semtempo.png" alt="Com Tempo" width="40px" height="40px">
                  <br><p>Sem tempo<br>
                  <input type="radio" name="tempo"></p>
                </button>
              </div>
            </div>
            
            <hr>
            <h5>Jogador</h5>
            <div class="row">
                <div class="col-sm">
                  <button type="button" class="btn btn-light">
                    <img src="../img/portfolio/one.png" alt="Com Tempo" width="40px" height="40px">
                    <br><p>1 Jogador<br>
                    <input type="radio" name="Jogador"></p>
                  </button>
                </div>
                <div class="col-sm">
                  <button type="button" class="btn btn-light">
                    <img src="../img/portfolio/vs.png" alt="Com Tempo" width="60px" height="40px">
                    <br><p>2 Jogador<br>
                    <input type="radio" name="Jogador"></p>
                  </button>
                </div>
            </div><br>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar escolha</button>
          </div>
        </div>
      </div>
    </div>

        <!-- Bootstrap core JavaScript -->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="../js/jqBootstrapValidation.js"></script>
        <script src="../js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="../js/freelancer.min.js"></script>

        <!-- JS para criar os circulos -->
        <script src="../js/circles.js"></script>
        
        <!-- JS MODAL-->
        <script>
        $(function(){
        $('#exampleModal').modal('show');
        });
        </script>
  </body>

</html>
