<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Passa-Palavra</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    
    <!-- Javascript interno -->
    <script src="../js/script.js"></script>
    
    <!-- Custom styles for this template -->
    <link href="../css/freelancer.css" rel="stylesheet">

  </head>

  <body onload="contador(5)">



    <!-- Header -->
    <header class="mt-5 bg-primary text-center">
      <div class="container-fluid col-lg-6 col-md-10 col-sm-12">
        <h1 class="mb-5 ">Fim de jogo</h1>
        <h1 class="mb-5 " id="respostaFinal"></h1>
        <button onclick="resetGame()" class="btn btn-primary btn-lg col-lg-4 col-md-4 col-sm-3">Jogar Novamente</button>
        </p>
        <button class="btn btn-danger btn-lg col-lg-4 col-md-4 col-sm-3" onclick="MenuPrincipal()" >Menu Principal</button>
      </div>
    </header>



    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/freelancer.min.js"></script>

  </body>

</html>
